@font-face {
    font-family: 'Literata Bold';
    src: url("/static/fonts/Literata-Bold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: 'Literata Bold Italic';
    src: url("/static/fonts/Literata-BoldItalic.ttf");
    font-weight: 600;
}

@font-face {
    font-family: 'Literata Italic';
    src: url("/static/fonts/Literata-Italic.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'Literata';
    src: url("/static/fonts/Literata-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'Inter Bold';
    src: url("/static/fonts/Inter-Bold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: 'Inter';
    src: url("/static/fonts/Inter-Regular.ttf");
    font-weight: 400;
}

:root {
    --color-black: #000000;
    --color-gray: #676767;
    --color-light-gray: #eeeeee;
    --color-white: #ffffff;
    --color-light: #F6F6F6;
    --color-dark: #302718;
    --color-brown: #683B2b;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-light);
    font-family: 'Inter';
    font-style: normal;
    font-size: 18px;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: unset;
}

h1,
h2 {
    font-family: "Literata Bold";
    text-align: center;
    color: var(--color-dark);
    margin: 0;
}

h2 {
    font-family: 'Literata Bold';
    font-size: 28px;
    line-height: 32px;
}

h3 {
    font-family: "Literata Italic";
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: var(--color-brown);
}

h4 {
    font-family: 'Inter Bold';
    font-size: 18px;
    line-height: 24px;
    color: var(--color-dark);
    margin: 0;
    text-align: center;
}

p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: var(--color-dark);
    margin: 0;
}


.flash-msg {
    font-family: 'Literata';
    font-size: 18px;
    line-height: 24px;
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
    padding: 15px 40px 15px 15px;
    width: fit-content;
    max-width: 90%;
    border-radius: 7px;
    border: solid 1px var(--color-brown);
}


.content-wrapper {
    max-width: 1440px;
    min-height: 100vh;
    margin: 0 auto;
}

/* ---------- Icons ---------- */

.remove-icon {
    background-image: url(/static/img/remove-icon-dark.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
}

.remove-icon:hover {
    background-image: url(/static/img/remove-icon-brown.svg);
    transform: scale(1.1);
}

.checkmark-icon {
    background-image: url(/static/img/check-mark-icon-dark.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
}

.checkmark-icon:hover {
    background-image: url(/static/img/check-mark-icon-brown.svg);
    transform: scale(1.1);
}


.heart-icon {
    background-image: url(/static/img/heart-icon-dark.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
}

.heart-icon:hover {
    background-image: url(/static/img/heart-icon-brown.svg);
    transform: scale(1.1);
}

.read-icon {
    background-image: url(/static/img/open-book-hand-pointing-icon-dark.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}

.read-icon:hover {
    background-image: url(/static/img/open-book-hand-pointing-icon-brown.svg);
    transform: scale(1.1);
}

.success-icon {
    background-image: url(/static/img/tick-mark-icon.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}

.error-icon {
    background-image: url(/static/img/error-icon.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}

.close-icon {
    background-image: url(/static/img/cross-dark.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 3px;
    right: 3px;
}

.close-icon:hover {
    background-image: url(/static/img/cross-brown.svg);
    transform: scale(1.1);
}

/* ---------- Header ---------- */

.header {
    width: 100%;
    padding: 10px 40px 7px;
    background-color: var(--color-light);
    border-bottom: solid 3px var(--color-brown);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.header__logo-img {
    flex: 0 0 60px;
    height: 60px;
    width: 60px;
}

/* .header__title {
    flex: 0 0 300px;
} */

.header__title h1 {
    font-family: "Literata Bold";
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: center;
}

.header__title h3 {
    font-family: "Literata Italic";
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: var(--color-brown);
}

.header__bookshelf {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    align-items: center;
}


.header__bookshelf-icon {
    flex: 0 0 80px;
    /* height: 50px; */
    width: 80px;
}

.header__login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__login-icon {
    flex: 0 0 40px;
    height: 40px;
    width: 40px;
}

/* ---------- Main ---------- */

.main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

/* ---------- Search Form ---------- */

#search {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    width: 100%;
}

.search-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--color-brown);
    border-radius: 7px;
    width: fit-content;
}

.search-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    row-gap: 10px;
    padding: 15px;
}

.search-form div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    column-gap: 15px;
}

.search-form input[type=text],
select {
    padding: 5px;
    width: 320px;
}

.search-form input[type=submit] {
    padding: 7px;
}

.form-field {
    display: none;
}

.search-form input[type="checkbox"] {
    display: none;
}

.search-form .label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.search-form .label::before {
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    margin-right: 5px;
    border: 2px solid var(--color-dark);
    border-radius: 4px;
    transition: transform .75s ease-out;
}

.search-form input[type="checkbox"]:checked+.label::before {
    background-image: url(/static/img/check-mark-icon-dark2.svg);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
}

/* ---------- Book Card ---------- */

#bookshelf {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
}

.books {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    padding: 10px;
    width: 100%;
}

.books__cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 30px;
    row-gap: 30px;
    flex-shrink: 0;

    width: 90%;
    /* padding: 45px; */
}


.card {
    display: flex;
    flex-direction: column;
    /* row-gap: 20px; */
    align-items: center;
    justify-content: space-between;
    width: 250px;
    height: 420px;
    background-color: var(--color-white);
    border-radius: 9px;
    padding: 5px 10px 10px;
}

.card:hover {
    box-shadow: 0px 0px 20px 10px rgba(13, 13, 13, 0.1);
}

.card_popup {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 100%;
    height: 100%;
}

.card_popup {
    cursor: pointer;
}

.card_img {
    flex: 0 0 230px;
    height: 230px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_img img {
    width: 150px;
}

.card_content {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.card_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}


/* ---------- Book Details ---------- */

.book_details {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    column-gap: 20px;
}

.book_details>div:first-child {
    flex: 0 0 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
}

.book_details__cover {
    width: 100%;
}

.book_details__content {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.book_details__content h4 {
    text-align: left;
}


/* ---------- Login Form ---------- */

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    padding: 10px;
}

.login-form input[type=text],
.login-form input[type=password],
.login-form input[type=email] {
    padding: 5px;
    width: 300px;
}

.login-form input[type=submit] {
    padding: 7px;
}

.login-form div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 20px;
    width: 100%;
}

#register-link,
#login-link {
    font-family: 'Inter Bold';
    font-size: 20px;
    color: var(--color-brown);
}

/* ---------- Bookshelf ---------- */

.shelf-type {
    font-family: 'Literata Bold Italic';
    color: var(--color-brown);
}

.to-shelf-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 15px;
    padding: 10px;
}

.to-shelf-form select {
    padding: 5px;
    width: 300px;
}

.to-shelf-form input[type=submit] {
    padding: 7px;
}

.to-shelf-form div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 10px;
}

/* ---------- Login - Register ---------- */

.login-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--color-brown);
    border-radius: 7px;
    width: fit-content;
    margin: auto;
}