{% extends 'base.html' %}
{% block title %}All Books{% endblock %}

{% block content %}
<h2>All Books</h2>

{% for book in books %}
<div>
    <h3>Book Title: {{ book.title }}</h3>
    <h4>Id = {{ book.book_id }}</h4>
    <h4>NEW YORK TIMES BESTSELLER in {{ book.categories|length }}
        {% if book.categories|length > 1 -%} categories:
        {% else -%}
        category
        {% endif %}</h4>
    <ul>
        {% for category in book.categories %}
        <li>{{ category.category }}</li>
        {% endfor %}
    </ul>
</div>

{% endfor %}
{% endblock %}