{% extends 'base.html' %}
{% block title %}All Categories{% endblock %}

{% block content %}
<h2>All Categories</h2>

{% for category in categories %}
<div>
    <h3>Category: {{ category.category }}</h3>
    <h4>Id = {{ category.category_id }}</h4>
    <h4>New York Times list name: {{ category.nyt_list_name_encoded }}</h4>
    <h4> {{ category.books|length }} books in this category</h4>
    <ul>
        {% for book in category.books %}
        <li><a href="/books/{{ book.book_id }}">{{ book.title }}</a></li>
        {% endfor %}
    </ul>
</div>

{% endfor %}
{% endblock %}