{% extends 'base.html' %}
{% block title %}All Books{% endblock %}

{% block content %}
{% if category == '' %}
<h2>All Books</h2>
{% else %}
<h2>{{ category }}</h2>
{% endif %}

{% for book in books %}
<div>
    <h3><a href="/books/{{ book.book_id }}">Book Title: {{ book.title }}</a></h3>
    <h4>Id = {{ book.book_id }}</h4>
    <h4>{% if book.authors|length > 1 -%}Authors:
        {% else -%}Author:{% endif %}

        {% for i in range(book.authors|length) %}
        {% if book.authors[i].author_ol_id is defined and book.authors[i].author_ol_id and book.authors[i].author_ol_id
        != "" %}
        <a href="/authors/{{ book.authors[i].author_id }}">
            {{ book.authors[i].name }}{% if i != book.authors|length - 1 %}, {% endif %}
        </a>
        {% else %}
        {{ book.authors[i].name }}{% if i != book.authors|length - 1 %}, {% endif %}
        {% endif %}

        {% endfor %}
    </h4>
    <h4>NEW YORK TIMES BESTSELLER in {{ book.categories|length }}
        {% if book.categories|length > 1 -%} categories:
        {% else -%}
        category
        {% endif %}</h4>
    <ul>
        {% for category in book.categories %}
        <li>{{ category.category }}</li>
        {% endfor %}
    </ul>
</div>

{% endfor %}
{% endblock %}