<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pick Me a Book App {% block title %}{% endblock %}</title>
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/books.ico" />
    <link rel="stylesheet" href="/static/css/normalize.css" />
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <div class="content-wrapper">
        <header class="header">
            <div class="header__logo">
                <a href="/"><img class="header__logo-img" src="/static/img/books.svg"></a>
                <div class="header__title">
                    <h1>Pick Me a Book App</h1>
                    <h3>Read... So you never feel alone</h3>
                </div>
            </div>
            <nav>
                {% if session.get('user_email') %}
                <a href="/bookshelf" class="header__bookshelf">
                    <!-- <img class="header__bookshelf-icon" src="/static/img/books-on-bookshelf.svg"> -->
                    <img class="header__bookshelf-icon" src="/static/img/bookshelf1.png">
                    <h3>My Bookshelf</h3>
                </a>
                {% endif %}
            </nav>
            {% if session.get('user_email') %}
            <a href="/logout" class="header__login">
                <img class="header__login-icon" src="/static/img/exit-icon.svg">
                <h3>Log Out</h3>
            </a>
            {% else %}
            <a href="/login" class="header__login">
                <img class="header__login-icon" src="/static/img/enter-icon.svg">
                <h3>Log In</h3>
            </a>
            {% endif %}
        </header>
        <main class="main">
            {% for message in get_flashed_messages() %}
            <div class="flash-msg">
                {% set status, msg = message.split('|')%}
                {% if status == "OK" %}
                <div class="success-icon"></div>
                {% elif status == "ERROR" %}
                <div class="error-icon"></div>
                {% endif %}
                <div>
                    {{ msg|safe }}
                </div>
                <div class="close-icon"></div>
            </div>
            {% endfor %}

            {% block content %}{% endblock %}
        </main>
    </div>
    <script src="/static/js/closeFlashMsg.js"></script>
    {% block js %}
    {% endblock %}
</body>

</html>