{% extends 'base.html' %}
{% block title %}Bookshelf{% endblock %}

{% block content %}
<section id="bookshelf">
</section>
{% endblock %}

{% block js %}
<script src="/static/js/CardButtons.jsx" type="text/jsx"></script>
<script src="/static/js/BookCard.jsx" type="text/jsx"></script>
<script src="/static/js/BooksContainer.jsx" type="text/jsx"></script>
<script src="/static/js/MessageBox.jsx" type="text/jsx"></script>
<script src="/static/js/Bookshelf.jsx" type="text/jsx"></script>
{% endblock %}