{% extends 'base.html' %}
{% block title %}Book Details Page{% endblock %}

{% block content %}
<h2>Book Title: {{ book.title }}</h2>

<div class="book_details">
    {% if book.covers|length > 0 %}
    <img class="book_details__cover" src="{{ book.covers[0].cover_url }}" alt="{{ book.title }} cover">
    {% endif %}
    <div class="book_details__content">
        <h4>{% if book.authors|length > 1 -%}Authors:
            {% else %}Author:{% endif %}
            {% if book.authors|length == 2 -%}
            {{ book.authors[0].name }} and {{ book.authors[1].name }}
            {% else %}
            {% for i in range(book.authors|length) %}
            {{ book.authors[i].name -}}
            {% if i != book.authors|length - 1 %},
            {% if i == book.authors|length - 2 %}and {% endif %}
            {% endif %}
            {% endfor %}
            {% endif %}
        </h4>
        {% if book.contributor_note != "" %}
        <h4>{{ book.contributor_note }}</h4>
        {% endif %}
        <h4>ISBN10 = {{ book.primary_isbn10}}</h4>
        <h4>ISBN13 = {{ book.primary_isbn13}}</h4>
        <h4>NEW YORK TIMES BESTSELLER in {{ book.lists|length }}
            {% if book.lists|length > 1 -%} lists:
            {% else -%}
            list
            {% endif %}</h4>
        <ul>
            {% for l in book.lists %}
            <li>{{ l.list_name }}</li>
            {% endfor %}
        </ul>
        <p>Description: {{ book.description }}</p>
    </div>
</div>

{% endblock %}