{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}

{% if session.get('user_name') %}
<h2>Let's pick a wonderful book for you to read, {{ session.get('user_name') }}!</h2>
{% else %}
<h2>Let's pick a wonderful book for you to read!</h2>
{% endif %}

<div id="search">
</div>

{% endblock %}

{% block js %}
<script src="/static/js/CardButtons.jsx" type="text/jsx"></script>
<script src="/static/js/BookCard.jsx" type="text/jsx"></script>
<script src="/static/js/BooksContainer.jsx" type="text/jsx"></script>
<script src="/static/js/MessageBox.jsx" type="text/jsx"></script>
<script src="/static/js/SearchForm.jsx" type="text/jsx"></script>
{% endblock %}