{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}


<div class="login-container">
    <h2>Register</h2>
    <form class="login-form" action="/register" method="POST">

        <div>
            <label for="name">Name</label>
            <input id="name" type="text" name="name" required>
        </div>

        <div>
            <label for="email">E-mail</label>
            <input id="email" type="email" name="email" required>
        </div>

        <div>
            <label for="password">Password</label>
            <input id="password" type="password" name="password" required>
        </div>


        <input type="submit" />
    </form>
    <div>
        <p>Already have an account?
            <a href="/login" id="login-link">Log&nbsp;in</a>
        </p>
    </div>
</div>

</div>
{% endblock %}